/* Load the GaMaamli-Regular font */
/* @font-face {
    font-family: 'GaMaamli-Regular';
    src: url('../fonts/GaMaamli-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom CSS */
body,html {
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px; /* Adjust base font size */
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Stack elements vertically */
    background-image: url('../background/game_bg.jpeg'); /* Background image URL */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    margin: 0;
    padding: 0;
    color: #ffffff; /* Default text color for body */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 2.5em; /* Increased font size */
    font-weight: bold;
    text-transform: uppercase;
    text-align: center; /* Centers the text */
    background: linear-gradient(30deg, rgba(9, 129, 100, 255), rgba(146, 198, 113, 255), rgba(133, 181, 213));
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 12px rgba(20, 20, 20, 0.404);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
    padding: 10px; /* Added padding */
}


.container-fluid {
    width: 100%;
    max-width: 1200px;
    text-align: center;
    padding: 20px; /* Added padding for small screens */
    margin-top: 50px;
}

.scoreboard {
    margin-top: 20px;
    padding: 20px;
    background: linear-gradient(30deg, rgba(9, 129, 100, 255), rgba(146, 198, 113, 255), rgba(133, 181, 213));
    border-radius: 10px;
    box-shadow: 20px 20px 20px rgba(3, 3, 3, 0.1);
}

.scoreboard-header {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #4CAF50;
    margin-bottom: 10px;
}

.header-item {
    flex: 1;
    font-size: 1.5em; /* Adjusted font size for responsiveness */
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.scoreboard-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #4CAF50;
    margin-bottom: 10px;
}

.scoreboard-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 2px solid #9beb9d;
}

.scoreboard-row:last-child {
    border-bottom: none;
}

.user-rank,
.user-name,
.user-email,
.user-number,
.user-score,
.user-date {
    flex: 1; /* Ensures even spacing */
    text-align: center; /* Centers the text */
    font-weight: bold;
    font-size: 1.4em; /* Reduced font size for responsiveness */
    line-height: 1.5;
}

.back-button {
    margin-top: 20px;
    background-color: rgba(219, 227, 214, 255);
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em; /* Adjusted font size */
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: background-position 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    box-shadow: 0 20px 12px rgba(20, 20, 20, 0.404);
}

.back-button:hover {
    background: linear-gradient(30deg, rgba(175, 195, 167, 255), rgba(234, 239, 232, 255), rgba(192, 207, 184, 255));
    border-color: #050303;
}

.back-button:active {
    transform: translateY(8px);
    box-shadow: 0 6px 12px rgba(20, 20, 20, 0.6);
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    h1 {
        font-size: 2em; /* Slightly smaller font size */
    }

    .user-rank,
    .user-name,
    .user-email,
    .user-number,
    .user-score,
    .user-date {
        font-size: 1.2em; /* Smaller font size */
    }

    .back-button {
        font-size: 1.2em; /* Smaller font size */
        padding: 8px 16px; /* Adjusted padding */
    }
}

/* Specific Media Query for 1080x1920 Resolution (Portrait) */
@media screen and (min-width: 1080px) and (max-height: 1920px) and (orientation: portrait) {

    body {
        height: 100%;
        width: 100%;
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 18px; /* Adjust base font size */
        font-weight: 400;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Stack elements vertically */
        background-image: url('../background/game_bg_p.jpeg'); /* Background image URL */
        background-size: cover; /* Cover the entire background */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevent background image from repeating */
        margin: 0;
        padding: 0;
        color: #ffffff; /* Default text color for body */
    }
 }

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em; /* Further smaller font size */
    }

    .header-item {
        font-size: 1.2em; /* Smaller font size */
    }

    .user-rank,
    .user-name,
    .user-email,
    .user-number,
    .user-score,
    .user-date {
        font-size: 1em; /* Smaller font size */
    }

    .back-button {
        font-size: 1em; /* Smaller font size */
        padding: 6px 12px; /* Adjusted padding */
    }
}