<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../public/css/game.css">
    <script src="../public/js/xlsx.full.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="section">
            <div id="game-container" class="container">
                <div id="timer" class="text-center"><span id="time-left"></span></div>
                <div id="game-content">
                    <div id="question"></div>
                    <div id="answers"></div>
                </div>
                <button id="pass-button">Pass</button>
            </div>
            <!-- Separate containers for messages -->
            <div id="answerMessageBox" class="message-box hidden"></div> 
            <div id="resultMessageBox" class="message-box-result hidden"></div>
        </div>
    </div>
    <!-- Bootstrap JS and your custom script -->
    <script src="../public/js/game.js"></script>
</body>
</html>
