<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Game - Setup</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../public/css/user.css">
</head>
<body>
    <div class="container-fluid">
        <div class="section d-flex align-items-center justify-content-center">
            <!-- <div class="row">
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="../public/background/Logo1.png" alt="Image" class="img-fluid">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <img src="../public/background/Logo2.png" alt="Logo 1" class="logo-img mb-4">
                        <button type="submit" id="user-btn" class="btn">Start</button>
                    </div>
                </div>
            </div> -->
            <button type="submit" id="user-btn" class="btn">Start</button>
        </div>
    </div>
    <!-- Bootstrap JS and your custom script -->
    <script src="../public/js/script.js"></script>
</body>
</html>
